<f:layout name="default" />
<f:section name="content">
    <f:if condition="{overlayItems}">
        <f:then>
            <div id="overlayblock" {f:if(condition: '{isPreview} == 1', then: 'class="is-preview"')} >
            <div id="darkscreen"></div>
            <div id="overlay">
                <div class="overlaycontent">
                    <div class="closeoverlay">
                        <img src="/typo3conf/ext/crisisfeed/Resources/Public/Icons/close.png" alt="Close overlay" />
                    </div>
                    <f:for each="{overlayItems}" as="overlayItem">
                        <div class="text">
                            <h2>{overlayItem.title}</h2>
                            <h3>{overlayItem.header}</h3>
                            <h4>{overlayItem.subheader}</h4>
                            <h5><f:format.html>{overlayItem.bodytext}</f:format.html></h5>
                        </div>
                    </f:for>
                </div>
            </div>
            </div>
        </f:then>
    </f:if>
</f:section>
