<f:layout name="default" />
<f:section name="content">
    <div id="crisisfeed-news-list-view">
    <h1><f:translate key="headline.news"/></h1>
    <f:if condition="{newsItems}">
    <f:then>
        <f:for each="{newsItems}" as="newsItem">
            <div class="content-box-big crisis-feed-news-item">
                <h3>{newsItem.header}</h3>
                <div class="content">
                    <f:if condition="{newsItem.image}">
                    <f:then>
                        <div class="crisis-feed-news-image-wrapper">
                            <f:image src="{newsItem.image}" alt="{newsItem.header}" class="content-image" />
                        </div>
                    </f:then>
                    </f:if>
                    <p class="crisisfeed-date">
                        <f:translate key="newsitem.published"/>&#58;&nbsp;<f:format.date format="d.m.Y">{newsItem.datetime}</f:format.date>
                    </p>
                    <div class="crisis-feed-news-item-bodytext">
                        <p><f:format.html>{newsItem.bodytext}</f:format.html></p>
                    </div>
                </div>
                <div class="footer"></div>
            </div>
        </f:for>
    </f:then>
    <f:else>
        <div class="content-box-big">
            <div class="head"><f:translate id="headline.news" /></div>
            <div class="content"><f:translate id="text.nonews" /></div>
            <div class="footer"></div>
        </div>
    </f:else>
    </f:if>
    </div>

</f:section>
