/* the overlayed element */

#overlay {
    margin:0;
    display: none;
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    z-index:10000 !important;
}

#darkscreen {
    display: none;
    opacity: 0.8;
    filter: alpha(opacity=80);
    position:fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index:9999 !important;
    background-color:#000;
}

@media (min-width:1200px){
    .overlaycontent {
        margin:0px 88px 0px 88px;
        z-index:10000;
        background: #FFF;
    }

    .overlaycontent .text {
        padding:0px 60px 60px 60px;
    }

    .overlaycontent .closeoverlay {
        height: 66px;
        margin-right:20px;
    }

    .overlaycontent .closeoverlay img {
        padding-top: 20px;
        float:right;
        cursor: pointer;
    }

    .overlaycontent .text h2 {
        font-size: 25px;
        font-weight: bold;
        color: #000;
        margin:0px 0px 20px 0px;
    }

    .overlaycontent .text h3 {
        font-size: 20px;
        font-weight: bold;
        color: #000 !important;
        margin:0px 0px 20px 0px;
    }

    .overlaycontent .text h4 {
        font-size: 17px;
        font-weight: bold;
        color: #000;
        margin:0px 0px 20px 0px;
    }
}

@media (max-width:1199px){
    .overlaycontent {
        margin:0px 88px 0px 88px;
        z-index:10000;
        background: #FFF;
    }

    .overlaycontent .text {
        padding:0px 60px 60px 60px;
    }

    .overlaycontent .closeoverlay {
        height: 66px;
        margin-right:20px;
    }

    .overlaycontent .closeoverlay img {
        padding-top: 20px;
        float:right;
        cursor: pointer;
    }

    .overlaycontent .text h2 {
        font-size: 25px;
        font-weight: bold;
        color: #000;
        margin:0px 0px 20px 0px;
    }

    .overlaycontent .text h3 {
        font-size: 20px;
        font-weight: bold;
        color: #000 !important;
        margin:0px 0px 20px 0px;
    }

    .overlaycontent .text h4 {
        font-size: 17px;
        font-weight: bold;
        color: #000;
        margin:0px 0px 20px 0px;
    }
}

@media (max-width:997px){
    .overlaycontent {
        margin:0px 15px 0px 15px;
        z-index:10000;
        background: #FFF;
    }

    .overlaycontent .text {
        padding:0px 60px 60px 60px;
    }

    .overlaycontent .closeoverlay {
        margin-right:20px;
        height: 66px;
    }

    .overlaycontent .closeoverlay img {
        padding-top: 20px;
        float:right;
        cursor: pointer;
    }

    .overlaycontent .text h2 {
        font-size: 25px;
        font-weight: bold;
        color: #000;
        margin:0px 0px 20px 0px;
    }

    .overlaycontent .text h3 {
        font-size: 20px;
        font-weight: bold;
        color: #000 !important;
        margin:0px 0px 20px 0px;
    }

    .overlaycontent .text h4 {
        font-size: 17px;
        font-weight: bold;
        color: #000;
        margin:0px 0px 20px 0px;
    }
}

@media (max-width:767px){
    .overlaycontent {
        margin:0px 15px 0px 15px;
        z-index:10000;
        background: #FFF;
    }

    .overlaycontent .text {
        padding:0px 10px 10px 10px;
    }

    .overlaycontent .closeoverlay {
        margin-right:10px;
        height: 46px;
    }

    .overlaycontent .closeoverlay img {
        padding-top: 10px;
        float:right;
        cursor: pointer;
    }

    .overlaycontent .text h2 {
        font-size: 20px;
        font-weight: bold;
        color: #000;
        margin:0px 0px 20px 0px;
    }

    .overlaycontent .text h3 {
        font-size: 18px;
        font-weight: bold;
        color: #000 !important;
        margin:0px 0px 20px 0px;
    }

    .overlaycontent .text h4 {
        font-size: 16px;
        font-weight: bold;
        color: #000;
        margin:0px 0px 20px 0px;
    }
}

.overlaycontent .text h5 {
    font-size: 14px;
    font-weight: normal;
    color: #000;
    margin:0;
    line-height: 20px;
}

.overlaycontent .text h5 a {
    color: #000;
    text-decoration: underline;
}